name: "Test"
on:
  pull_request:
  push:
    branches: [master]
jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-18.04, macOS-latest]
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v13
      with:
        skip_adding_nixpkgs_channel: true
    - uses: cachix/cachix-action@v9
      with:
        name: bash-static
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    - run: ./build.sh
      id: build
    - uses: actions/upload-artifact@v2
      with:
        name: build
        path: ./build
        if-no-files-found: error
